.bi {
    color: #03A84E;
}
.bi-1x {
    font-size: 1em;
}
.bi-2x {
    font-size: 2em;
}
.bi-5x {
    font-size: 5em;
}
.bi-3x {
    font-size: 3em;
}
.bi-4x {
    font-size: 4em;
}
.bi-5x {
    font-size: 5em;
}
.serviceBox {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    padding: 1rem .5rem .75rem 1rem;
    border: 1px solid rgba(0, 0, 0, .125);
    margin-bottom: 1rem;
}
.serviceBox .icon {
    margin-right: 2.5rem;
}

.home-page {
    font-family: "Lato", sans-serif;
}

.home-page .section-01 .input-group .form-control,
.home-page .section-01 .input-group .btn {
    height: 60px;
    border-radius: 0;
}

.home-page .section-02 {
    padding: 3rem 0;
    background-color: #fafafa;
}

.home-page .section-02 .card {
    border-radius: 0;
    text-align: center;
    margin-bottom: 1rem;
    border: 1px solid rgba(0, 0, 0, .125);
}

.home-page .section-02 .card h6 {
    color: #03A84E;
}

.home-page .section-03 {
    padding: 3rem 0;
    background-color: #fafafa;
}

.home-page .section-03 .card {
    border-radius: 0;
    text-align: center;
    margin-bottom: 1rem;
    border: 1px solid rgba(0, 0, 0, .125);
}
.home-page .section-03 .article-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
}



.breadcrumb a {
    color: #03A84E;
    text-decoration: none;
}
.VueCarousel-slide .card {
    margin-right: 1rem;
}
.VueCarousel-slide:last-child .card {
    margin-right: 0;
}