<template>
    <div class="home-page">


        <Header></Header>
        <DetailsCategory :data="itemCategory" :data-article="itemsArticle"></DetailsCategory>

        <section class="section-03">
            <b-container>
                <SlideCategory></SlideCategory>
            </b-container>
        </section>
    </div>
</template>

<script>


import Header from '../components/Header.vue';
import DetailsCategory from '../components/DetailCategory.vue';

import SlideCategory from '../components/SlideCategory.vue'

import axios from "axios";


export default {
    name: 'CategoryView',
    components: {

        Header,
        DetailsCategory,
        SlideCategory
    },
    data() {
        return {

            slide: 0,
            sliding: null,

            itemsArticle: [],
            itemCategory: [],
            id: this.$route.params.id

        };
    },
    created() {
        this.getArticle()
        this.getCategory()
    },

    methods: {
        async getCategory() {
            try {

                const response = await axios.get('/api/categories');

                response.data.map(item => {
                    if (item.id == this.id) {
                        this.itemCategory.push(item)

                    }
                })



                console.log(this.itemCategory)
            } catch (error) {
                console.error("Error fetching posts:", error);
            }
        },
        async getArticle() {


            try {


                const response = await axios.get(`/api/category/${this.id}`);

                this.itemsArticle = response.data


                console.log(this.itemsArticle)
            } catch (error) {
                console.error("Error fetching posts:", error);
            }
        }
    }
}
</script>

<style>
@import '../assets/css/custom.css';
</style>