<template>
  <div class="home">

    <Header @search="getSearch"></Header>
    <ListCategory :data="items"></ListCategory>

  </div>
</template>

<script>

import Header from '../components/Header.vue';
import ListCategory from '../components/ListCategory.vue';

import axios from "axios";

export default {
  name: 'HomeView',
  components: {
    Header,
    ListCategory
  },
  data() {
    return {
      message: "Hello, Vue!",
      counter: 0,
      items: []
    };
  },
  created() {
    this.getCategory()
  },
  methods: {

    async getSearch(item) {

      this.items = []

      try {

        const response = await axios.get('/api/categories');

        const searchTerm = item.toLowerCase().trim();

        // Filter categories array based on search term
        const searchResults = response.data.filter(category => {
          // Check if title or description contains the search term
          return category.title.toLowerCase().includes(searchTerm) || category.description.toLowerCase().includes(searchTerm);
        });

        searchResults.map(item => {
          if (item.enabled) {
            this.items.push(item)

          }
        })

      } catch (error) {
        console.error("Error fetching posts:", error);
      }
    },

    async getCategory() {
      try {

        const response = await axios.get('/api/categories');

        response.data.map(item => {
          if (item.enabled) {
            this.items.push(item)

          }
        })

      } catch (error) {
        console.error("Error fetching posts:", error);
      }
    },

  },
}
</script>
