<template>
    <div class="home">

        <Header @search="getSearch"></Header>

        <listArticle :data="items"></listArticle>


    </div>
</template>

<script>

import Header from '../components/Header.vue';
import listArticle from '../components/listArticle.vue';

import axios from "axios";


export default {
    name: 'SearchView',
    components: {
        Header,
        listArticle
    },
    data() {
        return {
            items: [],
            searhQuery: ''
        };
    },
    created() {
        this.getData()
    },
    methods: {

        async getSearch(item) {

                this.items = []

            try {

                    const response = await axios.get('/api/search/');

                    const searchTerm = item.toLowerCase().trim();

                    // Filter categories array based on search term
                    const searchResults = response.data.filter(category => {
                    // Check if title or description contains the search term
                    return category.title.toLowerCase().includes(searchTerm);
                    });

                    console.log('result',searchResults)

                    searchResults.map(item => {
                   


                        this.items.push(item)

               
                    })

                    console.log('searchData',this.items)

                    } catch (error) {
                    console.error("Error fetching posts:", error);
                    }


        },


        async getDataSearch() {

            this.items = []

            try {

                const response = await axios.get(`/api/search/${this.searhQuery}`);

                console.log('datasearch',response.data)

                this.items = response.data





            } catch (error) {
                console.error("Error fetching posts:", error);
            }
        },

        async getData() {

            try {

                const response = await axios.get('/api/search/');

                console.log(response.data)

                this.items = response.data





            } catch (error) {
                console.error("Error fetching posts:", error);
            }
        }


    },
}
</script>