<template>
    <div class="home-page">


        <section class="section-03">
            <b-container>
                <b-row>
                    <b-col cols="12">
                        <b-breadcrumb>
                            <b-breadcrumb-item href="/">
                                Home
                            </b-breadcrumb-item>
                            <b-breadcrumb-item active>{{ data[0].title }}</b-breadcrumb-item>
                        </b-breadcrumb>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col md="5">
                        <b-card>
                            <div class="article-icon d-flex align-items-center">
                                <i class="bi bi-file-earmark-text"></i> <span class="text-muted"><small>{{
                                data[0].totalArticle }}</small></span>
                            </div>
                            <img :src="imagePlay" v-if="data[0].title  == 'Getting Started'" alt="Example Image" style="margin:10px">
                            <img :src="imageDiamond" v-if="data[0].title == 'Advanced Features'" alt="Example Image" style="margin:10px">
                            <img :src="imageLink" v-if="data[0].title  == 'Integrations'" alt="Example Image" style="margin:10px">
                            <img :src="imageChat" v-if="data[0].title  == 'Chat Widget Customization'" alt="Example Image" style="margin:10px">
                            <img :src="imageMonitor" v-if="data[0].title == 'Using the Dashboard'" alt="Example Image" style="margin:10px">
                            <img :src="imageCart" v-if="data[0].title == 'E-commerce Integrations'" alt="Example Image" style="margin:10px">

                            <h3><b>{{ data[0].title }}</b></h3>
                            <p class="text-muted my-0"><small>Last update {{ getDifferenceInDays(data[0].updatedOn) }}
                                    days ago</small></p>
                            <hr>

                            <i class="bi bi-info-circle bi-2x"></i>
                            <p class="text-muted mb-0">{{ data[0].description }}</p>
                        </b-card>
                    </b-col>
                    <b-col md="7">
                        <div class="serviceBox justify-content-between" v-for="(item, index) in dataArticle"
                            :key="index">
                            <div class="d-flex align-items-center">
                                <div class="icon">
                                    <i class="bi bi-file-earmark-text bi-2x"></i>
                                </div>
                                <div class="desc">
                                    <h5>{{ item.title }}</h5>
                                    <p class="text-muted mb-0"><small>Updated {{ getDateYear(item.updatedOn) }}</small>
                                    </p>
                                </div>
                            </div>
                            <div class="more">
                                <i class="bi bi-chevron-right bi-2x"></i>
                            </div>
                        </div>

                    </b-col>
                </b-row>



            </b-container>
        </section>
    </div>
</template>

<script>
import 'bootstrap-icons/font/bootstrap-icons.css';
import play from '../assets/images/play.png';
import cart from '../assets/images/cart.png';
import diamond from '../assets/images/diamond.png';
import link from '../assets/images/link.png';
import chat from '../assets/images/chat.png';
import monitor from '../assets/images/monitor.png';

export default {
    name: "DetailCategory",
    props: {
        data: Array,
        dataArticle: Array
    },
    components: {

    },
    data() {
        return {
            slide: 0,
            sliding: null,
            imagePlay: play,
            imageCart: cart,
            imageDiamond: diamond,
            imageLink: link,
            imageChat: chat,
            imageMonitor: monitor,
        }
    },

    methods: {
     
        getDifferenceInDays(lastUpdate) {

            const providedDate = new Date(lastUpdate);
            const currentDate = new Date();
            const differenceInMilliseconds = currentDate - providedDate;
            const differenceInDays = Math.floor(differenceInMilliseconds / (1000 * 60 * 60 * 24));
            return differenceInDays;
        },

        getDateYear(data) {

            const date = new Date(data);
            const month = date.toLocaleString('default', { month: 'short' });
            const day = date.getDate();
            const year = date.getFullYear();
            return `${month}, ${day} ${year}`;

        }

    },


}
</script>

<style>
@import '../assets/css/custom.css';
</style>