<template>
	<div class="home-page">
		<section class="section-01">
			<b-container >
				<b-row >
					<b-col cols="12">
						<b-jumbotron class="text-center py-5" style="background-color: white;">
							<h1><b>Knowledge base doesn't have to be boring</b></h1>
							<h5>Everything you need to Manage your Messaging</h5>

							<b-row class="justify-content-center">
								<b-col md="6">
									<b-input-group class="mt-3">
										<b-form-input v-model="searchQuery" placeholder="Search for answers"
											@keyup.enter="emitSearch"></b-form-input>
										<b-input-group-append>
											<b-button variant="success"><i class="bi bi-search bi-2x text-white"
													@click="emitSearch"></i></b-button>
										</b-input-group-append>
									</b-input-group>
								</b-col>
							</b-row>
						</b-jumbotron>
					</b-col>
				</b-row>
			</b-container>
		</section>


	</div>
</template>

<script>
import 'bootstrap-icons/font/bootstrap-icons.css';
import {
	Carousel,
	Slide
} from 'vue-carousel';

export default {
	components: {
		Carousel,
		Slide
	},
	data() {
		return {
			slide: 0,
			sliding: null,
			searchQuery: ''
		}
	},

	methods: {
		emitSearch() {

			this.$emit('search', this.searchQuery);
		}
	}
}
</script>

<style>
@import '../assets/css/custom.css';
</style>