<template>
    <div class="home-page">


        <section class="section-02">
            <b-container class="mb-space">
                <b-row v-if="data.length > 0">
                    <b-col cols="12">
                        <b-row>
                            <b-col md="4" v-for="(item, index) in data" :key="index">
                                <b-card @click="navigate(item.id)">

                                    <img :src="getImage(item.title)" alt="Example Image" style="margin:10px">
                                    <h5>{{ item.title }}</h5>
                                    <h6 class="mt-3 mb-0">{{ item.totalArticle }} articles</h6>
                                    <p class="my-0"><small>Last update {{ getDifferenceInDays(item.updatedOn) }} days
                                            ago</small></p>
                                </b-card>
                            </b-col>

                        </b-row>
                    </b-col>
                </b-row>
                <b-row v-else>
                    <label>No data</label>
                </b-row>
            </b-container>
        </section>


    </div>
</template>

<script>
import 'bootstrap-icons/font/bootstrap-icons.css';

import play from '../assets/images/play.png';
import cart from '../assets/images/cart.png';
import diamond from '../assets/images/diamond.png';
import link from '../assets/images/link.png';
import chat from '../assets/images/chat.png';
import monitor from '../assets/images/monitor.png';


export default {
    name: "ListCategory",
    props: {
        data: Array
    },
    data() {
        return {
            icon: 'play',
            imagePath: '',
        };
    },
    computed: {

    },

    methods: {

        getImage(data) {
            this.imagePath = ''

            if (data == 'Getting Started') {
                this.imagePath = play
            } else if (data == 'Chat Widget Customization') {
                this.imagePath = chat
            }
            else if (data == 'Using the Dashboard') {
                this.imagePath = monitor
            }
            else if (data == 'Integrations') {
                this.imagePath = link
            }
            else if (data == 'Advanced Features') {
                this.imagePath = diamond
            } else {
                this.imagePath = cart
            }


            return this.imagePath

        },

        navigate(id) {

            this.$router.push(`/category/${id}`);

        },



        getDifferenceInDays(lastUpdate) {

            const providedDate = new Date(lastUpdate);
            const currentDate = new Date();
            const differenceInMilliseconds = currentDate - providedDate;
            const differenceInDays = Math.floor(differenceInMilliseconds / (1000 * 60 * 60 * 24));
            return differenceInDays;
        },

    },

}
</script>

<style>
@import '../assets/css/custom.css';
@import '../font-awesome.css';

@import '../scss/_variables.scss';

.mb-space {
    margin-bottom: 150px
}
</style>