<template>
    <div class="home-page">

        <hr>

        <h3 class="text-muted text-center mb-5">Other Categories</h3>

        <b-row>
            <b-col cols="12">
                <carousel :per-page="3" :mouse-drag="false">
                   
                    <slide v-for="(article, index) in items" :key="index">
                        <b-card class="mb-0">
                           
                            <img :src="imagePlay" v-if="article.title  == 'Getting Started'" alt="Example Image" style="margin:10px">
                            <img :src="imageDiamond" v-if="article.title  == 'Advanced Features'" alt="Example Image" style="margin:10px">
                            <img :src="imageLink" v-if="article.title  == 'Integrations'" alt="Example Image" style="margin:10px">
                            <img :src="imageChat" v-if="article.title  == 'Chat Widget Customization'" alt="Example Image" style="margin:10px">
                            <img :src="imageMonitor" v-if="article.title  == 'Using the Dashboard'" alt="Example Image" style="margin:10px">
                            <img :src="imageCart" v-if="article.title  == 'E-commerce Integrations'" alt="Example Image" style="margin:10px">
                           
                            <h5>{{ article.title }}</h5>
                            
                            <h6 class="mt-3 mb-0">{{ article.totalArticle }} articles</h6>
                          
                            <p class="my-0"><small>Last update {{ getDifferenceInDays(article.updatedOn) }} </small></p>
                        </b-card>
                    </slide>
                </carousel>

            </b-col>
        </b-row>

    </div>
</template>

<script>
import 'bootstrap-icons/font/bootstrap-icons.css';
import {
    Carousel,
    Slide
} from 'vue-carousel';

import play from '../assets/images/play.png';
import cart from '../assets/images/cart.png';
import diamond from '../assets/images/diamond.png';
import link from '../assets/images/link.png';
import chat from '../assets/images/chat.png';
import monitor from '../assets/images/monitor.png';

import axios from "axios";

export default {
    name: "DetailCategory",
    components: {
        Carousel,
        Slide
    },
    data() {
        return {
            slide: 0,
            sliding: null,
            items: [],
            imagePlay: play,
            imageCart: cart,
            imageDiamond: diamond,
            imageLink: link,
            imageChat: chat,
            imageMonitor: monitor,
        }
    },
    created() {
        this.getCategory()
    },

    methods: {

       
        getDifferenceInDays(lastUpdate) {

            const providedDate = new Date(lastUpdate);
            const currentDate = new Date();
            const differenceInMilliseconds = currentDate - providedDate;
            const differenceInDays = Math.floor(differenceInMilliseconds / (1000 * 60 * 60 * 24));
            return differenceInDays;
        },
        async getCategory() {
            try {

                const response = await axios.get('/api/categories');

                response.data.map(item => {
                    if (item.enabled) {
                        this.items.push(item)

                    }
                })




            } catch (error) {
                console.error("Error fetching posts:", error);
            }
        },
    },
}
</script>

<style>
@import '../assets/css/custom.css';
</style>